.header{
    
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1000px;

}
.first {
  display: flex;
  align-items: center;
  gap:12px;
}
.kayak .letter {
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.2em; 
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  }

main{
  align-content: center;
  justify-content: center;
}

.vertcle{
  height: 100%;
  width: 5px;
  background-color: gray;
}


h1, h2, p, ul{
  padding:0;
  margin:0;
  list-style:none;
}

.headeritem:hover{
  background-color:grey;
}

.headeritem:hover:before{
    background-color: white;
}

.menu:hover{
  background-color:rgb(215, 209, 209);
}

.menu:hover::before{
  background-color: white;
}

.tagbox, 
.pinbox,
.settingsbox, 
.pricebox, 
.globebox{
  border: 5px solid black;
}