*{
    margin:0;
    padding:0;
}
.icon{
    color:#fff;
    padding-top:2rem;
    padding-left:2rem;
    font-size:20px;

}
.menu ul  {
    display:flex;
    flex-direction:row;
    align-text:right;
    justify-content:right;
    list-style:none;
    color:#fff;

}

header {
    background-color: #003b95;
    height:400px;
    width:100%;

}
.tet{
    
    padding-top:6rem;
    
    
}
p{
    font-size:60px;
    font-family:"Avenir Next",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    color:#fff;
    font-weight:bold;
    padding-left:20px;
}

p2{
    padding-left:20px;
    font-family:"Avenir Next",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size:30px;
    line-height:1.5;
    letter-spacing:0.5px;
    color:#fff;
}
.tab {
    display: flex;
    flex-direction: row;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 0.0rem;
    margin:65px;
     
  
}
.tab .sub-tab {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: whitesmoke;
    border:2px solid orange;
    border-radius: 0.6rem;
    height: 10vh;
    width: 5vh;
    padding: 0 0.5rem;
    font-size: 1rem;
    
}
.tab .search{
    font-size: 1.05rem;
    padding: 0.8em 1.5em;
    background-color: rgb(14, 93, 196);
    color: white;
    border: 2px solid orange;
    border-radius: 0.4rem;
    margin: 0;
}
.checkbox{
    margin:0px;
    padding-left:50px;
    font-family: "Times new Roman";
    
    
    
  
}

.brands{
    padding-top: 6.5rem;
    padding-left: 3.5rem;
    font-size: 0.7rem;
    line-height: 2.2rem;

}
.advert-info{
    align:left;
    padding-left: 50px;
    padding-top: 5.5rem;
    display:flex;
    background-color:#f5f5f5;
    flex-direction:row;
    justify-content:space-around;
    height: 100px;
   
    
}
.questions{
    /* line-height: 1.5;
    text-align:left;
    columns:2;
    column-gap: 2rem;
    width:80%;
    float: left;
    width: 100%;
    flex-direction: row;
    padding-top: 5rem;
    border-box: 1rem solid #ecebeb;
    box-shadow: inset 0 0 4rem rgba(0,0,0,0)
    column-rule:2px solid blue; */
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    


}
.column1,.column2{
    border:1px solid #ecebeb;
    margin:2rem;
    padding:0;
    width:40%;
    line-height:2rem;

}

h1{
  
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 1.4rem;
    padding-top:1.5rem;
    padding-left:1.5rem;
    
    
}
.nav ul  {
    display:flex;
    flex-direction:row;
    list-style: none;
    
}
.destinations a{
    color:black;
}
.destinations :hover{
    background-color:#ecebeb;;
    border:6px solid #ecebeb;
    border-radius:1.5rem;
}
.car{
    line-height:2.1rem;
}

h2{
    
    font-size: 1.0rem;
    
}
p1{
   padding-left:1.5rem; 
    
}   
li{
    padding-left: 2rem;
}


.money{
    background-color: #01016E;
    color:#fff;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.8rem;
    line-height: 2rem;
    
    
}
input[type=text] {
    border: 1px solid orange;
    border-radius: 0.5rem;
    outline: none;
    box-sizing: border-box;
    padding: 1.2rem;
    width:300px;
    
    
    
}
button[type=submit] {
    padding: 1.2rem;
    background:#6363F9;
    border-radius: 0.5rem;
    width:150px;

}

.property{
    background-color:#0808AE;
    width:100%;
    height:100%;

    
}
button[type=button] {
    display:block;
    margin:auto;
    padding:0.4rem;
    border:1px solid white;
    border-radius: 0.2rem;
    
    
}


.navigation{
    display:flex;
    flex-direction:row;
    list-style:none;
}
.navigation :hover {
    background-color:#757379  ;
    border:5px solid #757379 ;
    border-radius: 0.2rem;
}
.h{
    width:100%;
    height:100%;
    margin-top:10px;
    margin-bottom:10px;
}
.links{
    display:flex;
    flex-direction:row;
    line-height:2.2rem;
    
}

.links1,.links2,.links3,.links4,.links5{
    display:block;
    list-style:none;
}
a{
    text-decoration:none;
    color:#fff;

}
.final{
    text-align:center;
    line-height:2.2rem;
}
