*{
    margin:0;
    padding:0;
}

.navbar{
    width:1200px;
    height:75px;
    margin:auto;
}
.navbar ul{
    list-style:none;
    background:white;
    padding:0;
    margin:10px;
    
    
    
    
}
.icon{
    width:100px;
    float:left;
    height:70px;
}
.logo{
    color:white;
    font-family:arial;
    padding-left:10px;
    padding-top:30px;
       
}
.menu{
    width:400px;
    float:right;
    height:70px;
    
    
}
ul{
    text-align:right;
    display:flex;
    
    
   
    
    
    
}
ul li{
    list-style:none;
    margin-left:20px;
    margin-top:27px;
    font-size:14px;
    opacity:80%;
    

}
header{
    width:100%;
    height:400px;
    background-color:blue;
}
p{
  padding-top:100px;
  color:white;
  font-size:50px;
  font-famiy:arial;
  padding-left:20px;  
}
p2{
    padding-left:20px;
    font-family:"Times New Roman", Times, serif;
    font-size:30px;
    line-height:1.5;
    letter-spacing:0.5px;
    display:
}
.tab {
    display: flex;
    flex-direction: row;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 0.0rem;
    margin:65px;
    
  
}
.tab .sub-tab {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: whitesmoke;
    border:2px solid orange;
    border-radius: 0.6rem;
    height: 10vh;
    width: 5vh;
    padding: 0 0.5rem;
    font-size: 1rem;
}
.tab .search{
    font-size: 1.05rem;
    padding: 0.8em 1.5em;
    background-color: rgb(14, 93, 196);
    color: white;
    border: 2px solid orange;
    border-radius: 0.4rem;
    margin: 0;
}
.checkbox{
    margin:0px;
    padding-left:50px;
    font-family: "Times new Roman";
    
    
    
  
}

.brands{
    padding-top: 6.5rem;
    padding-left: 3.5rem;
    font-size: 0.7rem;
    line-height: 2.2rem;

}
.advert-info{
    align:left;
    padding-left: 50px;
    padding-top: 5.5rem;
    display:flex;
    background-color:grey;
    flex-direction:row;
    justify-content:space-around;
    height: 100px;
   
    
}
.questions{
    line-height: 1.5;
    text-align:left;
    columns:2;
    column-gap: 2rem;
    width:80%;
    float: left;
    width: 100%;
    flex-direction: row;
    padding-top: 5rem;
    border-box: 1rem solid #ecebeb;
    box-shadow: inset 0 0 4rem rgba(0,0,
    column-rule:2px solid blue;
    
}

h1{
    padding-left: 5.5rem;
    padding-top: 5.5rem;
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 1.4rem;
    
    
}

h2{
    padding-left: 2.5rem;
    font-size: 1.2rem;
    
}
p1{
    padding-left: 2.5rem;
    
}   
li{
    padding-left: 2.8rem;
}

