h1, h2, h3, p, ul{
    padding:0;
    margin:0;
    list-style:none;
}
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    
}

/* This is the header */
header {
    display:flex;
    flex-direction: column;
    background-color: rgb(4, 64, 143); 
    height: 330px;
    align-items: center;
    padding-top: 0.2rem;
}
.container{
    min-width: 1100px;
}
/* This is the styling for first navigation bar of the header */
.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}

.links, a{
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.links .uk {
    width: 25px;
    height: 25px;
}

button {
    font-size: 0.9rem;
    color: rgb(1, 110, 253);
    padding: 0.65em;
    border: 1px solid white;
    border-radius: 0.2em;
    margin: 0 0.2rem;
}

/* The second navigation bar styling starts here */
.links2{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
}
.links2 :hover{
    background-color: rgb(46, 129, 238);
    border: 1px solid rgb(46, 129, 238);
    border-radius: 1.5rem;
}
.links2 :active {
    border: 1px solid white;
    border-radius: 1.5rem;
    background-color: rgb(1, 110, 253);
}

.links2 .stays{
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1rem;
    
}
.stays .word{
    margin-left: -1.3rem;
}

.links2 .flights {
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1rem;
}
.links2 .car-rentals {
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1.1rem;
}
.links2 .attractions{
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1rem;
}
.links2 .airport-taxi{
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1.2rem;
}

/* This is the styling for the third navigation bar of the header */
.third h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 4rem 0 0.25rem;
    color: white;
}
.third p {
    font-size: 1.5rem;
    color: white;
    margin: 0.5rem 0;
}
.third .tab {
    display: flex;
    flex-direction: row;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 0.5rem;
    margin: 3rem 0;
}
.tab .sub-tab {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    background-color: whitesmoke;
    border:2px solid orange;
    border-radius: 0.4rem;
    height: 5vh;
    width: 10vh;
    padding: 0 0.5rem;
    font-size: 1rem;
}
.tab .search{
    font-size: 1.05rem;
    padding: 0.8em 1.5em;
    background-color: rgb(14, 93, 196);
    color: white;
    border: 2px solid orange;
    border-radius: 0.4rem;
    margin: 0;
}


/* The main content of the page starts here
    It has several sections */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;
}

/* Offers section */
.offers{
    display: flex;
    flex-direction: column;
    margin-top: 2.1rem;

}
.offers .promo{
    margin: 0.5rem 0 1.2rem;
    color: grey;
    
}
.offers .image-container{
    width: 100%;
    display: block;
    position: relative;
    
}
.image-container img {
    width: 100%;
    border-radius: 0.5rem;
    height: 156px;
    overflow: hidden;
    object-fit: cover;
    
}
.image-container .text-overlay {
    position: absolute;
    top:20px;
    left: 20px;
    color: white;
    line-height: 1.2rem;
    font-size: 0.9rem;
}
.text-overlay .new-year {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.text-overlay .deals {
    margin-top: 1rem;
    background-color: rgb(14, 93, 196);
    color: white;
    padding: 0.7em;
    border: 1px solid rgb(14, 93, 196);
    border-radius: 0.3em;
}

/* Explore Kenya section */
.explore-kenya{
    margin-top: 4.2rem;
}
.explore-kenya .popular{
    margin: 0.5rem 0 1.2rem;
    color: grey;
}
.explore-kenya .popular-destinations{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
}
.popular-destinations img{
    border-radius: 0.5rem;
}
.explore-kenya .destination-names{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 0.3rem;
    line-height: 1.7rem;
}
.destination-names .city{
    font-weight: 700;
}
.destination-names .property {
    color: grey;
    font-size: 0.9rem;
}

/* Browse by property section */
.property-type{
    margin-top: 4.2rem;
    display: block;
}
.property-type .property-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.5rem 0 0.5rem;
}
.property-images img{
    border-radius: 0.5rem;
}
.property-type .property-names{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: bold;
}

/*Trending destinations section  */
.trending-destinations {
    margin-top: 4.2rem;
    position: relative;   

}
.trending-destinations .popular-choices{
    color: grey;
    margin: 0.5rem 0 1.2rem;
}
.trending-destinations .destination-images{
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
}
.destination-images img{
    flex: auto;
    width: 300px;
    height: 258px;
    border-radius: 0.5rem;
    object-fit: cover;
    margin: 0 0 1rem;
}
.trending-destinations .kenyan-names {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.35rem;
    color: white;
    font-weight: 700;

}
.kenyan-names img{
    width: 30px;
    height: 30px;
    margin-top: 0.2rem;
    border-radius: 0.3rem;
}
.trending-destinations .nairobi{
    position: absolute;
    top: 85px;
    left: 15px;
}
.trending-destinations .mombasa{
    position: absolute;
    top: 85px;
    right: 390px;
}
.trending-destinations .diani{
    position: absolute;
    top: 360px;
    left: 15px
}
.trending-destinations .dubai {
    position: absolute;
    top: 360px;
    left: 390px;
}
.trending-destinations .nakuru{
    position: absolute;
    top: 360px;
    right: 230px;
}

/* Quick and easy trip planner section */
.trip-planner{
    margin-top: 3.8rem;
}
.trip-planner .vibe{
    margin: 0.5rem 0 1rem;
    color: grey;
    font-size: 1.05rem;
}
.trip-planner .trip-types{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.trip-types .trips {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background-color: white;
    color:black;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
.trips:hover{
    border: 1px solid white;
    border-radius: 2rem;
    background-color: rgb(250, 241, 241);
}
.trips:active{
    border:1px solid rgb(1, 110, 253);
    border-radius: 2rem;
    color: rgb(1, 110, 253);
    background-color: rgb(239, 245, 252);

}
.trip-planner .planner-images{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.planner-images img{
    width: 170px;
    height: 136px;
    border-radius: 0.5rem;
}
.trip-planner .planner-names{
    display: flex;
    flex-direction: row;
    gap: 6.4rem;
}
.planner-names .city-names{
    margin-top: 0.5rem;
    line-height: 1.5rem;
}
.city-names .city {
    font-weight: bold;
}
.city-names .distance{
    font-size: 0.9rem;
    color: grey;
}

/* Get inspiration for your next trip */
.inspiration-trip{
    margin-top: 3.8rem;
    max-width: 1100px;
}
.inspiration-trip .inspiration-images{
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
    gap: 1rem;
    
}
.celebration-video{
    position: relative;
}
.inspiration-images .video {
    width: 563px;
    height: 380px;
    border-radius: 0.5rem;
}
.inspiration-images .new-york{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 15px;

}
.new-york .ring{
    font-size: 0.95rem;
    margin-top: 0.4rem;
}
.video:hover{
    object-fit: cover;
}
.ryokans img {
    width: 263px;
    height: 240px;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;

}
.asia img {
    width: 263px;
    height: 240px;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;

}
.text1 {
    font-weight: bold;
    line-height: 1.5rem
}
.text2 {
    color: grey;
    margin-top: 0.2rem;
}