h1, h2, p, ul{
    padding:0;
    margin:0;
    list-style:none;
}
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    
}

header {
    display:flex;
    flex-direction: column;
    background-color: rgb(4, 64, 143); 
    height: 330px;
    align-items: center;
    padding-top: 0.2rem;
    border: 2px solid green;
}
.container{
    min-width: 1100px;
}
.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}

.links, a{
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.links .uk {
    width: 25px;
    height: 25px;
}

button {
    font-size: 0.9rem;
    color: rgb(1, 110, 253);
    padding: 0.65em;
    border: 1px solid white;
    border-radius: 0.2em;
    margin: 0 0.2rem;
}

.links2{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
}
.links2 :hover{
    background-color: rgb(46, 129, 238);
    border: 1px solid rgb(46, 129, 238);
    border-radius: 1.5rem;
}
.links2 :active {
    border: 1px solid white;
    border-radius: 1.5rem;
    background-color: rgb(1, 110, 253);
}

.links2 .stays{
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1rem;
    
}
.stays .word{
    margin-left: -1.3rem;
}

.links2 .flights {
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1rem;
}
.links2 .car-rentals {
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1.1rem;
}
.links2 .attractions{
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1rem;
}
.links2 .airport-taxi{
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.9em;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-size: 1.2rem;
}

.third h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 4rem 0 0.25rem;
    color: white;
}
.third p {
    font-size: 1.5rem;
    color: white;
    margin: 0.5rem 0;
}
.third .tab {
    display: flex;
    flex-direction: row;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 0.5rem;
    margin: 3rem 0;
}
.tab .sub-tab {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    background-color: whitesmoke;
    border:2px solid orange;
    border-radius: 0.4rem;
    height: 5vh;
    width: 10vh;
    padding: 0 0.5rem;
    font-size: 1rem;
}
.tab .search{
    font-size: 1.05rem;
    padding: 0.8em 1.5em;
    background-color: rgb(14, 93, 196);
    color: white;
    border: 2px solid orange;
    border-radius: 0.4rem;
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;
}

.offers{
    display: flex;
    flex-direction: column;
    margin-top: 2.1rem;

}
.offers .promo{
    margin: 0.5rem 0 1.2rem;
    color: grey;
    
}
.offers .image-container{
    width: 1100px;
    display: block;
    position: relative;
    
}
.image-container img {
    width: 100%;
    border-radius: 0.5rem;
    height: 156px;
    overflow: hidden;
    object-fit: cover;
    
}
.image-container .text-overlay {
    position: absolute;
    top:20px;
    left: 20px;
    color: white;
    line-height: 1.2rem;
    font-size: 0.9rem;
}
.text-overlay .new-year {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.text-overlay .deals {
    margin-top: 1rem;
    background-color: rgb(14, 93, 196);
    color: white;
    padding: 0.7em;
    border: 1px solid rgb(14, 93, 196);
    border-radius: 0.3em;
}

.explore-kenya{
    margin-top: 4.2rem;
}
.explore-kenya .popular{
    margin: 0.5rem 0 1.2rem;
    color: grey;
}
.explore-kenya .popular-destinations{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
}
.popular-destinations img{
    border-radius: 0.5rem;
}
.explore-kenya .destination-names{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 0.3rem;
    line-height: 1.7rem;
}
.destination-names .city{
    font-weight: 700;
}
.destination-names .property {
    color: grey;
    font-size: 0.9rem;
}

.property-type{
    margin-top: 4.2rem;
    display: block;
}
.property-type .property-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.5rem 0 0.5rem;
}
.property-images img{
    border-radius: 0.5rem;
}
.property-type .property-names{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: bold;
}